/*Обнуление документа*/
* {
     margin:0; padding:0;
     font-size:inherit;
     color:inherit;
     -webkit-font-smoothing: antialiased;
 }
button::-moz-focus-inner {padding:0;border:0;}
a {outline:none;
    text-decoration:none;
    font-size:11px;
    color:#2d2a2b ;
}
img {border:none;}
html {
    height: 100%;
}

body {
    height: auto !important;
    position: relative;
}
.top {
    background-color: white;
    height: 28px;
}
.bottom {
    background-color:#e5e7e6;
    height: 90px;
}
.menu {
    background-color: #191919;
    max-height: 45px;
}
nav {
    max-width: 950px;
    display: block;
    margin: auto;

}
li {
    display:inline-block;
    height: 100%;
    padding: 15px 16px;
    text-transform: uppercase;
    font-size: 10px;
    box-sizing: content-box;
}
li a {
    color: white;
}
menu li:hover{
    display:inline-block;
    height: 100%;
    padding: 15px 16px;
    text-transform: uppercase;
    font-size: 10px;
    box-sizing: content-box;
    background-color: #060606;
}
.dropdawn {
    position: relative;
}
.dropdawn ul {
    position: absolute;
    top: 42px;
    left: 0;
    background-color: #555555;
    padding: 7px;
    z-index: 2;
    display: none;
    opacity: 0;
    transition: 0.3s;

}
.dropdawn ul li {
    margin: 0;
}
.dropdawn:hover ul{
    display: block;
    opacity: 1;
}
section {
    max-height: 460px;
    background-color: #d0002f;
}
.item{
    height: 405px;
    max-width: 950px;
    margin: auto;
    position: relative;
    z-index: 1;
}
.container1 {
    position: absolute;
    width: 400px;
    left: 0;
    top: 0;
    padding: 60px 30px 0  ;
    background-color: rgba(199,33,71,0.6);
    height: 345px;
    color: white;
    z-index: 0;
}
.container1 h1 {
    font-size: 35px;
    margin-bottom: 40px;
}
.container1 p {
    font-size: 25px;
    margin-bottom: 50px;
}

.container1 a {
    display: inline-block;
    padding: 10px 40px;
    width: 100px; ;
    height: 15px;
    border-radius:20px ;
    background-color:#8f9498 ;
    color: white ;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px #b0b1b6;
    box-shadow: inset rgba(255,255,255,0.2) 8px  8px 18px 5px,
                 inset rgba(0,0,0,0.5)      -8px -8px 18px 5px;
}